@font-face {
    font-family: "texto";
    src: url(../fonts/GothicA1-ExtraLight.ttf);
}

@font-face {
    font-family: "titulo";
    src: url(../fonts/GothicA1-ExtraBold.ttf);
}

@font-face {
    font-family: "subtitulo";
    src: url(../fonts/GothicA1-Medium.ttf);
}


.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px auto 100px;
    gap: 10px;
    background-color: #F4991A;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

h1 {
    font-family: "titulo";
    text-align: center;
}

h2 {
    font-family: "subtitulo";
    text-align: center;
}

p {
    font-family: "subtitulo";
    text-align: center;
}

.form {
    grid-area: main;
    background-color: #F4991A;
    text-align: center;
    font-size: 30px;
    font-family: "texto";
    font-size: medium;
    margin-top: 80px;
}