@font-face {
    font-family: "texto";
    src: url(../fonts/GothicA1-ExtraLight.ttf);
}

@font-face {
    font-family: "titulo";
    src: url(../fonts/GothicA1-ExtraBold.ttf);
}

@font-face {
    font-family: "subtitulo";
    src: url(../fonts/GothicA1-Medium.ttf);
}


html {
    min-height: 100%;
}

body {
    font-size: 10px;
}

.footer {
    grid-area: footer;
    background-color: #321313;
    width: 100%;
    height: auto;
    font-family: "texto";
    color: #F2EAD3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons_foot {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #F2EAD3;
    height: auto;
    column-gap: 2em;
    font-size: 2em;
    transition: transform 1s;
    & :hover {
        transform: scale(1.2);
    }
}

@media (min-width: 600px) {
    .icons_foot {
        padding-top: 10px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: #F2EAD3;
        height: auto;
        column-gap: 20px;
        font-size: 20px;
    }
}

@media (min-width: 900px) { 
    .icons_foot {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: #F2EAD3;
        height: auto;
        column-gap: 20px;
        font-size: 30px;
    }
    .footer H3 {
        font-size: 20px;
    }
}