@font-face {
   font-family: "texto";
   src: url(../fonts/GothicA1-ExtraLight.ttf);
}

@font-face {
   font-family: "titulo";
   src: url(../fonts/GothicA1-ExtraBold.ttf);
}

@font-face {
   font-family: "subtitulo";
   src: url(../fonts/GothicA1-Medium.ttf);
}

.grid-container {
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: 150px auto 100px;
   gap: 10px;
   background-color: #F4991A;
   width: 100%;
   grid-template-areas:
      "header"
      "main"
      "footer";
}


.rojo {
   color: #321313;
}

select {
   margin: 0px;
   border-radius: 5px;
   height: 27px;
   border-color: black;
}

#mensaje_a {
   border-radius: 6px;
   border-color: black;
}

input {
   border-radius: 5px;
   height: 20px;
   border-color: black;
}

p {
   display: block;
   margin-block-start: 1em;
   margin-block-end: 0em;
   margin-inline-end: 0px;
   margin-inline-start: 0px;
}


.img {
   width: 70%;
   height: fit-content;
   border-radius: 5%;
   justify-self: right;

}

.contendor {
   grid-area: main;
   display: grid;
   color: #321313;
   max-width: 120rem;
   max-height: fit-content;
   margin-right: auto;
   margin-left: auto;
   gap: 1,5%;
   align-items: center;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   "title" "title"
   "sidebar" "form";


}

.title {
   grid-area: main;
   display: grid;
   align-items: self-start;
   font-size: 100%;
   justify-content: left;
   padding-left: 100px;
   padding-bottom: 30px;
   font-size: 25px;
   color: #321313;
   font-family: "titulo";
}


.price_box {
   color: #F2EAD3;
}


.sidebar {
   grid-area: main;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   justify-content:center;
   margin-top: 0% ;
   width: 30%;
   height: 30%;
   

}
.form {
   grid-area: main;
   display: grid;
   text-align: center;
   font-size: 30px;
   font-family: "texto";
   font-size: medium;
   margin-top: 0%;
   justify-content: left;
   padding-bottom: 5%;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   width: 80%;
}


.sidebar2 {
   grid-area: main;
   align-self: auto;
   justify-content: left;
   height: auto;
   margin-left: auto;
   width: 100%;
}

#button {
   width: 200px;
   height: 30px;
   margin-top: 10px;
}

@media  screen and (max-width:800px) {
   .img{
      width: 80%;
      height: 80%;
      justify-self: center;
   }
   .sidebar{
      width: fit-content;
      height: fit-content;
   }
   .sidebar2{
      width: auto;
   }
}
