@font-face {
   font-family: "texto";
   src: url(../fonts/GothicA1-ExtraLight.ttf);
}

@font-face {
   font-family: "titulo";
   src: url(../fonts/GothicA1-ExtraBold.ttf);
}

@font-face {
   font-family: "subtitulo";
   src: url(../fonts/GothicA1-Medium.ttf);
}

.grid-container {
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: 150px auto 100px;
   gap: 10px;
   background-color: #F4991A;
   grid-template-areas:
      "header"
      "main"
      "footer";
}

.form {
   text-align: center;
   font-size: 30px;
   font-family: "texto";
   font-size: medium;
   margin-top: 0%;
   content: 284px;
}

.rojo {
   color: #321313;
}

select {
   margin: 0px;
   border-radius: 5px;
   height: 27px;
   border-color: black;
}

#mensaje_a {
   border-radius: 6px;
   border-color: black;
}

input {
   border-radius: 5px;
   height: 20px;
   border-color: black;
}

p {
   display: block;
   margin-block-start: 1em;
   margin-block-end: 0em;
   margin-inline-end: 0px;
   margin-inline-start: 0px;
}


.img {
   width: 25%;
   height: auto;
   border-radius: 5%;
}

.contendor {
   grid-area: main;
   color: #321313;
   display: flex;
   max-width: 120rem;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, auto);
   display: inline;
   margin-right: auto;
   margin-left: auto;
   gap: 1, 5%;
   grid-template-areas:
      "title" "title"
      "sidebar" "sidebar2 ";

   flex-direction: row;
   
}

.title {
   grid-area: title;
   display: grid;
   align-items: self-start;
   font-size: 100%;
   justify-content: left;
   padding-left: 100px;
   padding-bottom: 30px;
   font-size: 25px;
   color: #321313;
   font-family: "titulo";
}
.price_box {
   color: #F2EAD3;
}

.sidebar {
   grid-area: sidebar;
   display: flex;
   align-items: flex-start;
   justify-content: left;
   padding-left: 120px;
   column-width: 60rem;
   grid-row-start: sidebar;
   margin: 0%;
   /*height: auto;*/
   flex-direction: column;

}

.sidebar2 {
   grid-area: sidebar2;
   display: flex;
   align-items: flex-start;
   justify-content: right;
   padding-right: 100px;
   column-width: 60em;
   grid-row-start: sidebar2;
   height: auto;
   margin: 0%;

}

#button {
   width: 200px;
   height: 30px;
   margin-top: 10px;
}

.boton {
   width: 200px;
   height: 30px;
}