@font-face {
    font-family: "texto";
    src: url(../fonts/GothicA1-ExtraLight.ttf);
}

@font-face {
    font-family: "titulo";
    src: url(../fonts/GothicA1-ExtraBold.ttf);
}

@font-face {
    font-family: "subtitulo";
    src: url(../fonts/GothicA1-Medium.ttf);
}


body {
    font-size: 10px;
}

.logo {
    width: 9em;
}

.transicion {
    transition: transform 1s;
    & :hover {
        transform: scale(1.2);
    }
}

.header {
    grid-area: header;
    background-color: #321313;
    font-family: "texto";
    font-size: 1em;
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a {
    all: unset;
    cursor: pointer;
}

.icons_head {
    padding: 3em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    color: #F2EAD3;
    height: auto;
    column-gap: 2em;
}

.enlaces {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
}

.enlaces i {
    font-size: 2em;
}

.enlaces span {
    font-size: 1em;
}

@media (min-width: 600px) {
    .logo {
        width: 115px;
    }

    .icons_head {
        display: flex;
        width: 100%;
        height: auto;
        column-gap: 50px;
        padding: 50px;
        align-items: center;
        justify-content: flex-end;
        color: #F2EAD3;
    }

    .enlaces {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        align-items: center;
    }

    .enlaces i {
        font-size: 25px;
    }

    .enlaces span {
        font-size: 15px;
    }
}

@media (min-width: 900px) {
    .enlaces span {
        font-size: 16px;
    }

    .logo {
        width: 150px;
    }

    .header {
        font-size: 20px;
        column-gap: 100px;
        background-color: #321313;
        font-family: "texto";
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}