@font-face {
    font-family: "texto";
    src: url(../fonts/GothicA1-ExtraLight.ttf);
}

@font-face {
    font-family: "titulo";
    src: url(../fonts/GothicA1-ExtraBold.ttf);
}

@font-face {
    font-family: "subtitulo";
    src: url(../fonts/GothicA1-Medium.ttf);
}


html{
    min-height: 100%;
}

.contenedor {
    display: grid;
    gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.card {
    width: 100%; 
    height: auto;
    background-color: #F2EAD3;
    font-size: 1.5em;
}

.list-group-item {
    background-color: #F2EAD3;
}

#api {
    grid-area: main;
    background-color:#F4991A;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 5%;
}

.link {
    padding: 1em;
    & :hover {
        color:#F4991A;
    }
}

@media (min-width: 600px) {
    .contenedor {
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    }
    
    #api {
        grid-area: main;
        background-color:#F4991A;
        display: flex;
        justify-content:center;
        align-items: center;
        border-radius: 0%;
    }
    .card {
        width: 50%; 
        height: auto;
        font-size: 2em;
    }
}

@media (min-width: 900px) {
    .contenedor{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    margin-right: auto;
    margin-left: auto;
    gap: 1%;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    }
   
    #api {
        grid-area: main;
        background-color:#F4991A;
        display: flex;
        justify-content:center;
        align-items: center;
        border-radius: 0%;
    }
    .card {
        width: 50%; 
        height: auto;
        font-size: 2em;
    }
}