@font-face {
    font-family: "texto";
    src: url(../fonts/GothicA1-ExtraLight.ttf);
 }
 
 @font-face {
    font-family: "titulo";
    src: url(../fonts/GothicA1-ExtraBold.ttf);
 }
 
 @font-face {
    font-family: "subtitulo";
    src: url(../fonts/GothicA1-Medium.ttf);
 }
 
 
 html {
    min-height: 100%;
 }
 
 body {
    font-size: 10px;
    background-color:#F4991A;
 }
 
 .grid-container {
    display: grid;
    gap: 1em;
    grid-template-columns: auto;
    grid-template-rows: 10em auto 10em;
    grid-template-areas:
        "header"
        "main"
        "footer";
 }
 
 
 @media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 550px 100px;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }
 
 }
 
 @media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 150px 400px 400px 150px;
        margin-right: auto;
        margin-left: auto;
        grid-template-areas:
            "header header header"
            "main main main"
            "main main main"
            "footer footer footer";
    }
 }