@font-face {
    font-family: "texto";
    src: url(../fonts/GothicA1-ExtraLight.ttf);
}

@font-face {
    font-family: "titulo";
    src: url(../fonts/GothicA1-ExtraBold.ttf);
}

@font-face {
    font-family: "subtitulo";
    src: url(../fonts/GothicA1-Medium.ttf);
}


html {
    min-height: 100%;
 }
 
 body {
    font-size: 10px;
 }
 
 .grid-container {
    display: grid;
    gap: 1em;
    grid-template-columns: auto;
    grid-template-rows: 10em auto 10em;
    grid-template-areas:
        "header"
        "main"
        "footer";
 }

h1 {
    font-family: "titulo";
    text-align: center;
}

h2 {
    font-family: "subtitulo";
    text-align: center;
}

p {
    font-family: "subtitulo";
    text-align: center;
}

.form {
    grid-area: main;
    background-color: #F4991A;
    text-align: center;
    font-family: "texto";
    font-size: medium;
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px 500px 300px 200px;
        margin-right: auto;
        margin-left: auto;
        grid-template-areas:
            "header header"
            "main main"
            "main main"
            "footer footer";
    }
  
    .form {
       font-size: large;
    }
    
 }