@font-face {
   font-family: "texto";
   src: url(../fonts/GothicA1-ExtraLight.ttf);
}

@font-face {
   font-family: "titulo";
   src: url(../fonts/GothicA1-ExtraBold.ttf);
}

@font-face {
   font-family: "subtitulo";
   src: url(../fonts/GothicA1-Medium.ttf);
}


html {
   min-height: 100%;
}

body {
   font-size: 10px;
}

.grid-container {
   display: grid;
   gap: 1em;
   grid-template-columns: auto;
   grid-template-rows: 10em 15em auto 10em;
   grid-template-areas:
       "header"
       "sidebar"
       "main"
       "footer";
}

.sidebar {
   grid-area: sidebar;
   background-color: #F4991A;
   color: #321313;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.sidebar h1 {
   font-family: "titulo";
   font-size: 1.5em;
}

.sidebar img {
   height: 100%;
   width: auto;
}

.contenedor{
   grid-area: main;
   background-color:#F4991A;
   width: 100%;
   height: 100%;
}

.form {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.form>div {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   height: 80%;
   width: 80%;
}

.obligatorio {
   color: #F2EAD3;
}

.input {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   min-width: 250px;
}

label {
   color: #321313;
   font-family: "subtitulo";
   font-size: 1.5em;
}

select {
   margin: 0px;
   border-radius: 5px;
   height: 27px;
   width: 177px;
   border-color: black;
}

input {
   border-radius: 5px;
   height: 20px;
   border-color: black;
   color: #321313;
   font-family: "subtitulo"
}

#button {
   width: 200px;
   height: 30px;
   margin-top: 30px;
}

@media (min-width: 600px) {
   .grid-container {
       grid-template-columns: 200px auto;
       grid-template-rows: 100px 550px 100px;
       grid-template-areas:
           "header header"
           "sidebar main"
           "footer footer";
   }
   .sidebar {
      flex-direction: column;

   }
   .sidebar h1 {
      padding: 70px;
      font-size: 30px;
   }
   .sidebar img {
      width: 100%;
      height: auto;
   }
   .contenedor {
      font-size: 12px;
   }
}

@media (min-width: 900px) {
   .grid-container {
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: 150px 400px 400px 150px;
       margin-right: auto;
       margin-left: auto;
       grid-template-areas:
           "header header header"
           "sidebar main main"
           "sidebar main main"
           "footer footer footer";
   }
   .sidebar {
      flex-direction: column;

   }
   .sidebar h1 {
      padding: 70px;
      font-size: 40px;
   }
   .sidebar img {
      width: 100%;
      height: auto;
   }
   .contenedor {
      font-size: 15px;
   }
   

}