<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/711d651682.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style/header.css">
    <link rel="stylesheet" href="../static/style/acercate.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <title>Stella cafe</title>
</head>

<body>
    <div class="contenedor">

        <header class="header">

            <a class="transicion" href="../templates/index.html">
                <img class="logo" src="../static/img/photo-output (1).png" s alt="Cafe Stella">
            </a>

            <div class="icons_head">

                <a class="transicion" href="../templates/gift_card.html">
                    <div class="enlaces">
                        <i class="fa-solid fa-gift"></i>
                        <span>GIFT CARD</span>
                    </div>
                </a>

                </a>
                <a class="transicion" href="../templates/contacto_.html">
                    <div class="enlaces">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <span>COMUNICATE</span>
                    </div>

                </a>

            </div>

        </header>

        <main class="main" id="map">
            <div v-if="cargando">
                <h1>Cargando...</h1>
            </div>


            <iframe class="mapa" v-else
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.8091456406705!2d-58.39242502477259!3d-34.583695456440104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaa12e375b6d%3A0x3f9f935dc99bf4fb!2sCentro%20de%20Convenciones%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1684799333349!5m2!1ses!2sar"
                style="border:0;" allowfullscreen="true" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </main>

        <aside class="sidebar">
            <h2>TE ESPERAMOS EN</h2>
            <h1>Expo café</h1>
            <h2>ARGENTINA 2023</h2>

        </aside>

        <footer class="footer">
            <h3>SIGUENOS</h3>
            <div class="icons_foot">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://es-la.facebook.com/login/device-based/regular/login/" target="_blank"><i
                        class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://ar.pinterest.com/" target="_blank"><i class="fa fa-pinterest"
                        aria-hidden="true"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"
                        aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com" target="_blank"> <i class="fa fa-linkedin"
                        aria-hidden="true"></i></a>
            </div>
            <p>&#169 2023 - Stella café - Todos los derechos reservados</p>

        </footer>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../static/JS/carga_mapa.js"></script>
</body>

</html>