<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/711d651682.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style/header.css">
    <link rel="stylesheet" href="../static/style/contacto_.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <title>Contacto</title>
</head>

<body>

    <div class="grid-container">
        <header class="header">

            <a class="transicion" href="../templates/index.html">
                <img class="logo" src="../static/img/photo-output (1).png" s alt="Cafe Stella">
            </a>

            <div class="icons_head">

                <a class="transicion" href="../templates/gift_card_form.html">
                    <div class="enlaces">
                        <i class="fa-solid fa-gift"></i>
                        <span>GIFT CARD</span>
                    </div>
                </a>

                </a>
                <a class="transicion" href="../templates/contacto_.html">
                    <div class="enlaces">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <span>COMUNICATE</span>
                    </div>

                </a>
                
                <a class="transicion" href="../templates/admin.html">
                    <div class="enlaces">
                        <i class="fa-solid fa-book"></i>
                        <span>ADMINISTRADOR</span>
                    </div>

                </a>

            </div>

        </header>
        <div class="form">

            <h1>Contacto</h1>
            <H2> ¿Quieres contactarte con nosotros?</H2>
            <p> Contacta con nosotros a traves del siguiente formulario:</p>

            <!--<form id="formulario" onsubmit="return validarFormulario()" > -->
            <form action="https://formspree.io/f/xzbqwdld" method="post" id="formulario"
                onsubmit="return validarFormulario()">

                <fieldset>
                    <legend>Ingrese sus datos</legend>

                    <div>
                        <label for="Nombre">Nombre</label>
                        <input type="text" id="nombre">
                    </div><br>

                    <div>
                        <label for="E-mail">E-mail</label>
                        <input type="email" id="email">
                    </div>

                    <div>
                        <h4>¿Cómo conociste la empresa?</h4>

                        <input type="radio" name="Conocer" id="Televesión" required>
                        <label for="Televesión">Televesión</label>

                        <input type="radio" name="Conocer" id="Radio" required>
                        <label for="Radio">Radio</label>

                        <input type="radio" name="Conocer" id="Redes sociales" required>
                        <label for="Redes sociales">Redes sociales</label>

                        <input type="radio" name="Conocer" id="Recomendado" required>
                        <label for="Recomendado">Recomendado por un conocido</label>
                    </div> <br>

                    <div>
                        <label for="Asunto">Asunto</label>
                        <input type="text" id="asunto">
                    </div><br>

                    <div>
                        <label for="Mensaje">Mensaje</label>
                        <textarea name="Mensaje" id="mensaje" cols="30" rows="10"></textarea>
                    </div><br>

                    <button id="boton" type="submit">Enviar</button>

            </form>

            </fieldset>
        </div>

        <footer class="footer">
            <h3>SIGUENOS</h3>
            <div class="icons_foot">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://es-la.facebook.com/login/device-based/regular/login/" target="_blank"><i
                        class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://ar.pinterest.com/" target="_blank"><i class="fa fa-pinterest"
                        aria-hidden="true"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"
                        aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com" target="_blank"> <i class="fa fa-linkedin"
                        aria-hidden="true"></i></a>
            </div>
            <p>&#169 2023 - Stella café - Todos los derechos reservados</p>

        </footer>


    </div>
    <script src="../static/JS/contacto_.js"></script>
</body>

</html>