<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/711d651682.js" crossorigin="anonymous"></script>
    <script src="../static/JS/crear_gift_card.js"></script>
    <link rel="stylesheet" href="../static/style/header.css">
    <link rel="stylesheet" href="../static/style/gift_card.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <title>Gift Card</title>
</head>

<body>
    <div class="grid-container">

        <header class="header">

            <a class="transicion" href="../templates/index.html">
                <img class="logo" src="../static/img/photo-output (1).png" s alt="Cafe Stella">
            </a>

            <div class="icons_head">

                <a class="transicion" href="../templates/gift_card_form.html">
                    <div class="enlaces">
                        <i class="fa-solid fa-gift"></i>
                        <span>GIFT CARD</span>
                    </div>
                </a>

                </a>
                <a class="transicion" href="../templates/contacto_.html">
                    <div class="enlaces">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <span>COMUNICATE</span>
                    </div>

                </a>

            </div>

        </header>

        <aside class="sidebar">
            <h1>CREA TU GIFT CARD</h1>
            <img class="img" src="../static/img/CoffeeStella.jpg" alt="gift card cafe stella">
        </aside>

        <main class="contenedor">

            <form class="form">
                <div>

                    <span class="obligatorio">*indica los espacios obligatorios</span>

                    <div class="input">

                        <label for="valor"><span class="obligatorio">*</span>Valor</label>

                        <input class="hidden" type="hidden" required>

                        <select name="valor" aria-required="true">
                            <option value>Elije una opción</option>

                            <option value="500" id="valor">$500</option>
                            <option value="700" id="valor">$700</option>
                            <option value="1000" id="valor">$1000</option>
                            <option value="1500" id="valor">$1500</option>
                        </select>

                    </div>

                    <div class="input">

                        <label for="nombre_receptor"><span class="obligatorio">*</span>Para</label>
                        <input type="text" name="nombre_receptor" id="nombre_receptor"
                            placeholder="Nombre del destinatario" required>

                    </div>

                    <div class="input">

                        <label for="nombre_emisor"><span class="obligatorio">*</span>De</label>
                        <input type="text" name="nombre_emisor" id="nombre_emisor" placeholder="Nombre del remitente"
                            required> 

                    </div>

                    <div class="input">
                        <label for="mail"><span class="obligatorio">*</span>E-mail</label>
                        <input type="email" name="mail" id="mail" placeholder="E-mail" required>
                    </div>

                    <div class="input">
                        <label for="mensaje"><span class="obligatorio">*</span>Mensaje</label>
                        <textarea name="mensaje" id="mensaje" cols="22" rows="10"
                            placeholder="Agrega un mensaje...(opcional)"></textarea>
                    </div>

                    <button type="button" class="btn btn-success" onclick="guardar()">Crear</button>

                </div>
            </form>
        </main>
       
        <footer class="footer">
            <h3>SIGUENOS</h3>
            <div class="icons_foot">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://es-la.facebook.com/login/device-based/regular/login/" target="_blank"><i
                        class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://ar.pinterest.com/" target="_blank"><i class="fa fa-pinterest"
                        aria-hidden="true"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"
                        aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com" target="_blank"> <i class="fa fa-linkedin"
                        aria-hidden="true"></i></a>
            </div>
            <p>&#169 2023 - Stella café - Todos los derechos reservados</p>

        </footer>
    </div>

    <script src="../static/JS/crear_gift_card.js"></script>
    

</body>


</html>